<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47508987609-u1uql05fv9vbo3r41sv72748j49k7et3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47508987609-u1uql05fv9vbo3r41sv72748j49k7et3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5oZxwaJT1AIPRyfYUNBPXJQTgdvwQyis</string>
	<key>GCM_SENDER_ID</key>
	<string>47508987609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahridwan.apple-signin-test</string>
	<key>PROJECT_ID</key>
	<string>sign-6da9e</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-6da9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:47508987609:ios:c9154e867cedbfc22aa8c8</string>
</dict>
</plist>
